@import url('reset.css');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5em 2em;
    width: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    font-family: inherit;
    margin-top: 0.15em;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(0, 0%, 60%);
    padding: 0.5em;
    width: 100%;
}

label {
    font-weight: 700;
    margin-top: 0.5em;
}

button {
    padding: 0.75em 2em;
    width: 100%;
    border: none;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(150, 100%, 30%);
}

button:hover {
    background-color: hsl(150, 90%, 35%);
}

span {
    height: 2em;
}

#password + span.error {
    height: 3.5em;
}

input:invalid {
    border-color: rgb(180, 6, 6);
    background-color: #fdd;
}

input:valid {
    background-color: #ddffdd;

}

input:focus:invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: hsl(0, 79%, 46%);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    font-style: italic;
}

.error.active {
    padding: 0.3em;
}

.hide {
    background-color: transparent;
}

.show {
    display: block;
}

.disclaimer {
    font-size: 0.70rem;
    text-align: center;
    font-style: italic;
    color: hsl(0, 0%, 60%);
    margin-bottom: 1em;
}